.projects__Header {
    height: 200px;
    width: 100%;
    border-radius: 0px 0px 20px 20px;
    background-image: linear-gradient(#42A3FC, #b0e0f5);
    box-shadow: 10px 10px 8px 0px #2f97f37c;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    z-index: 1;
}

.projects__HeaderTitle {
    font-family: cursive;
    font-size: 40px;
    color: #0760c0;
    margin-left: 70px;
}

.projects__HeaderButtons {
    display: flex;
    width: 400px;
    justify-content: space-evenly;
}

.projects__Link {
    text-decoration: none;
}

.projects__Button {
    border: 3px solid #1077E5;
  border-radius: 15px;
  width: 120px;
  height: 40px;
  display: grid;
  place-items: center;
  margin-top: 20px;
  font-size: 15px;
  font-family: cursive;
  color: #1077E5;
  background-color: white;
  cursor: pointer;
}

.projects__Container {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
    margin-top: 240px;
}